@keyframes animate-opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

.main {
  @apply flex justify-center;
  animation: animate-opacity 1s ease-in-out;
}

.main>div {
  @apply p-4
  /* border border-white */
  ;
  /* height: 1000px; */
  /* @apply border border-red-600; */
}

.header {
  @apply sticky z-10 top-0 p-4 flex justify-between items-center bg-my-dark drop-shadow
  /* shadow
    shadow-gray-800; */
  ;
  height: 75px;
}
/* 
.header__navigation {
  @apply grid grid-cols-4;

} */

.header__navigation__mobile {
  @apply md:hidden;
}

@media only screen and (max-width: 768px) {
  .header__navigation {
    @apply hidden;
  }
}

@media only screen and (min-width: 769px) {
  .header__navigation {
    @apply grid grid-cols-4;
  }
}

.header__navigation-item {
  @apply flex flex-col justify-between items-center transition-all;
}

.header__navigation-item:hover {
  @apply text-white;
}

.header__navigation-item--selected {
  @apply flex text-white;
}

.header__navigation-item--selected::after {
  content: '';
  width: 5px;
  height: 5px;

  background-color: #5571fd;

  border: 1px solid #5571fd;
  border-radius: 20px;
}

.logo-container {
  @apply relative;
  width: 40px;
  height: 40px;
}

.logo-container:hover {
  @apply drop-shadow-lg;
  cursor: pointer;
}

.footer {
  @apply fixed bottom-0 left-10 flex flex-col items-center w-16 h-60;
}

.footer__nav {
  @apply flex flex-col items-center w-full;
}

.footer__nav--item {
  @apply flex justify-center items-center w-10 h-10 opacity-30 cursor-pointer rounded-full transition-all;
}

.footer__nav--item:hover {
  @apply opacity-100 bg-my-primary/60;
}

.footer__bar {
  @apply w-0 h-full border border-gray-500/50;
}