.main {
  /* @apply border border-red-600; */
}

.main > div {
  @apply mt-20 p-4
  /* border border-white */;
  height: 1000px;
  /* @apply border border-red-600; */
}

.header {
  @apply sticky 
    z-10 top-0
    p-4 
    flex justify-between items-center
    bg-my-dark
    drop-shadow
    /* shadow
    shadow-gray-800; */;
}

.nav {
  @apply grid grid-cols-4 text-center;
}

.nav a {
  @apply transition-all;
  /* @apply border border-red-700; */
}

.nav a:hover {
  @apply text-white;
}

.logo-container {
  @apply relative;
  width: 40px;
  height: 40px;
}
.logo-container:hover {
  @apply drop-shadow-lg;
  cursor: pointer;
}

.footer {
  @apply fixed bottom-0 left-10
  flex
  flex-col
  items-center
  w-10 h-60;
}

.footer__nav {
  @apply flex flex-col items-center opacity-30;
}
.footer__nav--item {
  @apply p-2;
}

.footer__bar {
  @apply w-0 h-full border border-gray-500/50;
}
