@keyframes animate-translate {
  0% {
    transform: translateY(-5%);
    /* opacity: 0; */
  }
  100% {
    transform: translateY(0);
    /* opacity: 1; */
  }
}

.root-container {
  @apply container mx-auto;
}

.description-container {
  @apply col-span-1 text-right p-4 h-[80vh] flex flex-col justify-center;
  animation: animate-translate 0.8s ease-out;
}

.career-list {
  @apply flex flex-col justify-evenly
  ml-10
  h-full;
}
.career-list li {
  @apply relative flex;
}
.career-list li::before {
  @apply bg-my-dark border border-my-primary rounded;
  position: absolute;
  top: 5px;
  left: -44px;
  width: 8px;
  height: 8px;

  content: '';
}
